@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~prismjs-material-theme/css/oceanic.css';

/* Custom elements */
.mm_home-header {
  @apply text-white 
  bg-gradient-to-br from-primary-600 to-primary-400 
  flex
  h-80
  lg:h-60
  align-middle 
  text-center
  lg:text-left;
}

.mm_section-title {
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 70px;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    @apply bg-gray-400;
  }
}

.mm_article-card {
  @apply relative
  transition-all ease-in-out duration-200;

  &:before {
    @apply absolute
    top-0 left-0 bottom-0
    bg-gradient-to-b from-primary-400 to-primary-200;
    width: 0.5rem;

    @screen lg {
      @apply top-0 left-0 right-0
      bg-gradient-to-r from-primary-400 to-primary-200;
      width: auto;
      height: 0.5rem;
    }

    content: '';
  }

  &:hover {
    text-decoration: none;
    transform: translateY(-10px);
    box-shadow: 0px 30px 50px -17px rgba(0, 0, 0, 0.3),
      0px 3px 20px rgba(0, 0, 0, 0.1);
  }
}

.mm_article-icon {
  @apply absolute 
  bg-gradient-to-tr 
  from-primary-500 
  to-primary-200
  border-4 border-white border-solid
  rounded-full
  flex
  flex-col
  justify-center
  items-center;

  height: 70px;
  width: 70px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);

  @screen lg {
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Article */
.article__hero {
  height: 400px;
  @apply relative
   bg-gradient-to-br from-primary-600 to-primary-400
   bg-fixed bg-cover bg-scroll
   overflow-hidden;

  @screen lg {
    height: 600px;
    @apply bg-fixed;
  }
}

.article__author-avatar {
  display: block;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 6px solid white;
  border-radius: 100%;
}

.article__main .container {
  max-width: 1040px;
}

.article__content {
  @apply relative;

  @screen lg {
    transform: translateY(-200px);
  }

  a {
    box-shadow: 0px -3px 0px 0px #156477 inset;
    text-decoration: none !important;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: white;
      box-shadow: 0px -18px 0px 0px #156477 inset;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-5 mr-auto mb-0 ml-auto w-full;

    @screen lg {
      width: 80%;
    }
  }
  p,
  ul,
  ol {
    @apply mt-4 mr-auto mb-8 ml-auto
    w-full;

    @screen lg {
      width: 80%;
    }
  }
}
.article__content .youtube-container {
  margin-top: $spacer * 5;
  margin-bottom: $spacer * 5;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.gatsby-highlight {
  @apply pb-8;

  pre[class*='language-'] {
    margin-top: 0;
  }
}

.gatsby-code-header {
  position: relative;
  color: $white;
  background-color: #263238;
  text-align: center;
  padding: $spacer 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 14px;
    width: 14px;
    background-color: #dc3545;
    border-radius: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
    height: 14px;
    width: 14px;
    background-color: #ffc107;
    border-radius: 100%;
  }

  h5 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    width: 100%;
    @apply text-white;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 58px;
      transform: translateY(-50%);
      height: 14px;
      width: 14px;
      background-color: #28a745;
      border-radius: 100%;
    }
  }
}
