/* Custom elements */
.mm_home-header {
  @apply text-white 
  relative
  bg-gradient-to-br from-primary-500 to-primary-300
  flex
  h-80
  lg:h-60
  align-middle 
  text-center
  lg:text-left
  z-0;

  &:before {
    @apply absolute
    top-0 left-0 right-0 bottom-0
    z-10 bg-repeat;
    content: '';
    background-image: url('/images/mm_hero_bg.svg');
  }
}

.mm_section-title {
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 70px;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    @apply bg-gray-400;
  }
}

.mm_article-card {
  @apply relative
  transition-all ease-in-out duration-200;

  &:before {
    @apply absolute
    top-0 left-0 bottom-0
    bg-gradient-to-b from-primary-400 to-primary-200;
    width: 0.5rem;

    @screen lg {
      @apply top-0 left-0 right-0
      bg-gradient-to-r from-primary-400 to-primary-200;
      width: auto;
      height: 0.5rem;
    }

    content: '';
  }

  &:hover {
    text-decoration: none;
    transform: translateY(-10px);
    box-shadow: 0px 30px 50px -17px rgba(0, 0, 0, 0.3),
      0px 3px 20px rgba(0, 0, 0, 0.1);
  }
}

.mm_article-icon {
  @apply absolute 
  bg-gradient-to-tr 
  from-primary-500 
  to-primary-200
  border-4 border-white border-solid
  rounded-full
  flex
  flex-col
  justify-center
  items-center;

  height: 70px;
  width: 70px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);

  @screen lg {
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mm_screenshot__article {
  &:before {
    @apply absolute
    top-0 left-0 bottom-0
    bg-gradient-to-b from-primary-400 to-primary-200;
    width: 2.4rem;
    content: '';
  }
}

.mm_screenshot__footer {
  margin-left: 2.4rem;
}
